body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    text-transform: uppercase;
    font-size: 120%;
    padding-top: 0;
}

#game {
    text-align: center;
    width: 100%;
    max-width: 1056px;
    padding: 18px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 13px rgba(0,0,0,0.1);
    margin-top: 0;
    min-height: 75vh;
}

h1, h2 {
    font-size: 1.5em;
    margin: 5px 0 10px 0;
}

#question-container, #start-screen {
    position: relative;
    gap: 24px;
}

#main-image {
    width: 30%;
    max-width: 300px;
    margin: 0 auto 24px;
    height: auto;
    object-fit: contain;
}

#options-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.option-image {
    width: 100%;
    max-width: 150px;
    height: auto;
    cursor: pointer;
    margin: 0 auto;
    transition: transform 0.3s ease;
    border: 4px solid transparent;
    border-radius: 15px;
}

.option-image:hover {
    transform: scale(1.05);
}

.option-image.selected {
    border-color: black;
}

.option-image.correct {
    border-color: green;
}

.option-image.incorrect {
    border-color: red;
}

#start-button, #play-again-button {
    font-family: 'Quicksand', sans-serif;
    padding: 15px 30px;
    background-color: transparent;
    color: black;
    border: 3px solid black;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 120%;
    text-transform: uppercase;
}

#start-button:hover, #play-again-button:hover {
    transform: scale(1.05);
}

#feedback-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#result {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 32px;
}

#final-image {
    width: 30%;
    max-width: 300px;
    margin: 5px auto;
    height: auto;
    object-fit: contain;
}

#stars-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.star-icon {
    width: 45px;
    height: auto;
    margin: 0 5px;
}

@media (max-width: 880px) {
    #game {
        max-width: 95%;
    }
}

@media (max-width: 660px) {
    #main-image, #final-image {
        width: 70%;
    }

    #options-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .option-image {
        max-width: 100px;
    }
}

@media (max-width: 480px) {
    #main-image, #final-image {
        width: 70%;
    }

    .option-image {
        max-width: 80px;
    }

    .star-icon {
        width: 30px;
        height: 30px;
    }

    #start-button, #play-again-button {
        padding: 10px 20px;
        font-size: 100%;
    }
}