body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #f0f0f0;
    padding-top: 0;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 1056px;
    padding: 18px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 13px rgba(0,0,0,0.1);
    margin-top: 0;
    min-height: 75vh;
}

h1, h2 {
    margin-top: 0;
    margin-bottom: 26px;
    padding-top: var(--h1-padding-top, 0);
    padding-bottom: var(--h1-padding-bottom, 0);
    font-size: clamp(23.8px, 3.6vw, 31.7px);
    font-weight: 700;
}

#main-image {
    width: 30%;
    max-width: 300px;
    margin: 0 auto 24px;
    height: auto;
    object-fit: contain;
}

#options-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.option-image {
    width: 100%;
    max-width: 150px;
    height: auto;
    cursor: pointer;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.option-image:hover {
    transform: scale(1.05);
}

#start-button, #play-again-button {
    font-family: 'Quicksand', sans-serif;
    padding: 15px 30px;
    background-color: transparent;
    color: black;
    border: 3px solid black;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    font-size: 120%;
    text-transform: uppercase;
    transition: transform 0.3s ease;
    margin-top: 20px;
}

#start-button:hover, #play-again-button:hover {
    transform: scale(1.05);
}

#feedback-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#stars-container img {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

@media (max-width: 880px) {
    .container {
        max-width: 95%;
    }
}

@media (max-width: 660px) {
    #main-image {
        width: 70%;
    }

    #options-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .option-image {
        max-width: 100px;
    }
}

@media (max-width: 480px) {
    #main-image {
        width: 70%;
    }

    .option-image {
        max-width: 80px;
    }

    #stars-container img {
        width: 30px;
        height: 30px;
    }
}